* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  background-image: url(img/BlueRays2001.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  border: 1px solid white;
  padding: 4rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  backdrop-filter: blur(1.5rem);
  min-width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  color: white;
  font-size: 2.7rem;
  margin-bottom: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

label {
  display: block;
  margin-top: 0.5rem;
  color: white;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 3px rgb(0, 0, 0);
  font-size: 1.5rem;
}

input,
select,
button {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.8rem;
  border: 2px solid rgb(0, 0, 0);
  height: 4rem;
  font-size: 1.3rem;
}

#convert {
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 3px rgb(0, 0, 0);
}

#result {
  color: white;
  font-size: 2.1rem;
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 470px) {
  html {
    font-size: 30%;
  }
}

@media screen and (min-width: 470px) {
  html {
    font-size: 40%;
  }
}

@media screen and (min-width: 1020px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 60%;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 120%;
  }
}